/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
}

#header-nav .container {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-collapse {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#nav-list {
  background-color: yellow;
  border: 1px solid black;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  width :100%;
}

#nav-list a {
  color: black;
  border: 1px solid black;
}

#menu-title {
	background-color: white;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

h2 { /* Our Menu */
  color: black;
  font-weight: bold;
  font-size: 1.6em;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: .75;
}

#main-content {
  background-color: gray;
  margin-left: 15px;
  margin-right: 15px;
}

h3 { /* Chicken */
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}